<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MyMapper">
    <select id="selectNextAvailableLink" resultType="String">
        SELECT link
        FROM LINKS_TO_BE_PROCESSED
        LIMIT 1
    </select>
    <delete id="deleteLink" parameterType="HashMap">
        DELETE
        FROM
        <choose>
            <when test="tableName == 'LINKS_ALREADY_PROCESSED'">
                LINKS_ALREADY_PROCESSED
            </when>
            <when test="tableName == 'LINKS_TO_BE_PROCESSED'">
                LINKS_TO_BE_PROCESSED
            </when>
        </choose>
        WHERE link = #{link}
    </delete>
    <insert id="insertNews" parameterType="com.github.hcsp.News">
        INSERT INTO NEWS (TITLE, CONTENT, URL, CREATED_AT, MODIFIED_AT)
        VALUES (#{title}, #{content}, #{url}, NOW(), NOW())
    </insert>
    <insert id="insertLink" parameterType="HashMap">
        INSERT INTO
        <choose>
            <when test="tableName == 'LINKS_ALREADY_PROCESSED'">
                LINKS_ALREADY_PROCESSED
            </when>
            <when test="tableName == 'LINKS_TO_BE_PROCESSED'">
                LINKS_TO_BE_PROCESSED
            </when>
        </choose>
        (LINK)
        VALUES (#{link})
    </insert>
    <select id="countLink" parameterType="HashMap" resultType="int">
        SELECT COUNT(LINK)
        FROM
        <choose>
            <when test="tableName == 'LINKS_ALREADY_PROCESSED'">
                LINKS_ALREADY_PROCESSED
            </when>
            <when test="tableName == 'LINKS_TO_BE_PROCESSED'">
                LINKS_TO_BE_PROCESSED
            </when>
        </choose>
        WHERE LINK = #{link}
    </select>
    <select id="selectNews" resultType="News">
        SELECT TITLE, URL, CONTENT, CREATED_AT, MODIFIED_AT
        FROM NEWS;
    </select>
</mapper>